@font-face{
font-family: "Fira Code", monospace;
src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
}

body{
    font-family: "Fira Code", monospace;
    background-color: dimgray;
}